:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidenav-container {
    height: 100vh;
}

.sidenav {
    background-color: #fafafacb;
    padding-left: 8px;
    border-right-style: none;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}