/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #3f51b5;
    --primary-contrast: #fff;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    padding: 20px;
    max-width: 1160px;
    margin: 0 auto;
    width: 100%;
}

.page-title {
    margin: 0;
    font-size: 1.7rem !important;
    font-weight: 500;
}

.div-header {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.div-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.div-header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.success-snackbar {
    background-color: #4caf50;
    color: white;
}

.error-snackbar {
    background-color: #f44336;
    color: white;
}

th,
td,
input,
label {
    font-size: 1rem !important;
}

.main-panel-toolbar {
    font-size: 1.3rem !important;
}

.user-name {
    font-size: 0.9rem !important;
}

button {
    font-size: 0.875rem !important;
}

mat-error {
    font-size: 0.75rem !important;
    color: red;
}

/* Início Acessibilidade */

body.high-contrast,
body.high-contrast * {
    background-color: #000 !important;
    color: var(--primary-contrast) !important;
    border-color: var(--primary-contrast) !important;
}

body.high-contrast a,
body.high-contrast button,
body.high-contrast th,
body.high-contrast td,
body.high-contrast label,
body.high-contrast input {
    color: yellow !important;
    background-color: black !important;
    border: 1px solid white !important;
}
/* Fim Acessibilidade */

/* Início Panel */

.panel-container {
    display: flex;  
    flex-direction: column;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.user-name {
    margin-right: 15px;
}

.panel-header {
    margin-bottom: 30px;
}

.panel-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.menu-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.menu-icon-panel-dashboard {
    font-size: 3rem;
    height: 48px !important;
    width: 48px !important;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.menu-card:hover .menu-icon-panel-dashboard {
    color: #444;
    transition: color 0.3s ease;
}

.menu-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
}

.menu-description {
    color: #666;
    font-size: 0.875rem;
    margin: 0;
}

.form-row {
    display: flex !important;
    gap: 10px !important;
}

/* Responsividade */
@media (max-width: 768px) {
    .panel-menu {
        grid-template-columns: 1fr;
    }

    .user-name {
        display: none;
    }
}

/* Fim Panel */

/* Início telas de listagem */

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 20px;
}

.filter-field {
    width: 300px;
}

.filter-actions {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.action-bar {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
}

.section-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
}

.filter-section,
.results-section {
    background-color: var(--primary-contrast);
    padding: 10px;
    margin-bottom: 24px;
    border-radius: 8px;
    border-left: 4px solid var(--primary-color);
}

.no-results {
    padding-top: 20px;
    font-size: 1rem;
    color: #3b3b3b;
    font-style: italic;
}

/* Fim telas de listagem */

