.filter-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 20px;
}

.filter-field {
    width: 300px;
}

.filter-actions {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.action-bar {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
}

.section-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
}

.filter-section,
.results-section {
    background-color: var(--primary-contrast);
    padding: 10px;
    margin-bottom: 24px;
    border-radius: 8px;
    border-left: 4px solid var(--primary-color);
}

.no-results {
    padding-top: 20px;
    font-size: 1rem;
    color: #3b3b3b;
    font-style: italic;
}